<% scroll_reveal animation: "enter right" do %>
    <div class="row welcome-margens">
      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <%= image_tag "welcome-depoimento.jpg", alt: "Depoimento", class: "img-circle" %>
      </div><!-- /col -->     
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p class="lead text-center">
        “Sempre fui um preservador do solo da nossa região. A gente sempre trabalhou com cobertura de inverno. A Sematter me deu assessoria e trouxe esse mix de adubação verde que se saiu muito bem. O resultado não tem o que discutir. É ótimo.”
        </p>
        <p class="lead text-right">
        Agenor Minatto, produtor de trigo<br>
        milho e soja de Pranchita, Sudoeste do Paraná
        </p>
      </div><!-- /col -->         
    </div><!-- /row -->
 <% end %>