<div class="fb-page" data-href="https://www.facebook.com/semattersementes/"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/semattersementes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/semattersementes/">Sematter Sementes</a></blockquote></div>
    <hr>
    <h3>DESTAQUES</h3>
    <% @ultimas.each do |news| %>
      <h4 class="texto-verde"><%= link_to news.title, news %></h4>        
      <p>
        <%= image_tag news.photonoticias.first.image.url(:thumb), align: 'left', class: 'img-thumbnail margem-10' if news.photonoticias.present?  %>
        <%= news.abstract %>
        </p>
        <div class="clearfix"></div>
      <hr>
    <% end %>