<% @page_title = "Adubação verde - Sematter Sementes" %>
<% @content_title = "Adubação Verde" %>

<div class="container">
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	<%= image_tag 'adubacao_verde_raix.jpg', :class => 'img-responsive img-thumbnail' %>
	</div><!-- /col -->
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	<p>
	<span class="texto-verde">O que é Adubação Verde?</span>
	</p>
	<p>
	O Raix é um Mix de Sementes inovador para Adubação Verde e cobertura vegetal, capaz de transformar o solo nas entressafras. A combinação de plantas inteligentes proporciona múltiplos benefícios para o solo, renovando os nutrientes de forma natural e melhorando aspectos físicos, químicos e biológicos.
	</p>
	<p>
	O resultado é um aumento expressivo do potencial produtivo das culturas comerciais semeadas posteriormente. Fazendo a manutenção inteligente do solo, o Raix reduz custos e aumenta a produtividade, maximizando a lucratividade da lavoura.
	</p>
	[Logo do Raix]
	<p>
	As variedades do Raix oferecem diferentes combinações de sementes para atender às necessidades especí­cas de cada tipo de solo e objetivos do produtor. Todas as variedades proporcionam múltiplos benefícios ao solo e ganhos de produtividade na safra seguinte.
	</p>
	<p>
	Para encontrar as misturas adequadas e as proporções perfeitas para cada variedade do Raix, a Sematter Sementes investiu em estudos científi­cos rigorosos. Os testes foram conduzidos nas principais regiões produtoras do Brasil com a consultoria de pesquisadores de diversos países.
	</p>
	[fotos]
	</div><!-- /col -->
</div><!-- /row -->

<p><span class="texto-verde">Culturas que podem ser beneficiadas</span></p>
<p>
A Adubação Verde ou cobertura vegetal, é uma tendência mundial de manejo de solo na entressafra e pode ser utilizada para bene­ficiar todas as culturas comerciais.
</p>
[Colocar o nome de cada cultura acima das bolinhas, com no folder: Soja, Feijão, Canola, Linhaça, Milho, Trigo, Arroz, Cana-de-açúcar e Pastagens.]
<div class="culturas-lista">
<ul>
	<li>
		<div class="cultura"> Soja
			<%= image_tag 'culturas/1_soja.png' %>
		</div>
	</li>
	<li>
		<div class="cultura"> Feijão
			<%= image_tag 'culturas/2_feijao.png' %>
		</div>
	</li>
	<li>Canola</li>
	<li>Linhaça</li>
	<li>Milho</li>
	<li>Trigo</li>
	<li>Arroz</li>
	<li>Cana-de-açúcar</li>
	<li>Pastagens</li>
</ul>
</div>
<p><span class="texto-verde">Principais benefícios</span></p>
FERTILIDADE
<ul>
	<li>Fixação Biológica de Nitrogênio</li>
	<li>Reciclagem de Potássio, Enxofre e outros nutrientes</li>
	<li>Melhoria na infiltração de água do solo</li>
	<li>Diminuição da compactação do solo</li>
	<li>Neutralização da acidez potencial do solo</li>
	<li>Construção de estrutura do solo</li>
	<li>Manutenção da temperatura do solo</li>
	<li>Atividade da biomassa durante períodos de estiagem</li>
</ul>
EQUILÍBRIO
<ul>
	<li>Manutenção de inimigos naturais e agentes polinizadores</li>
	<li>Controle de Nematoides</li>
	<li>Controle de plantas infestantes (inclusive resistentes a herbicidas)</li>
	<li>Fitorremediação do solo</li>
	<li>Controle de doenças de caule e raiz <i>(Fusarium, Rhizoctonia, Sclerotinia, Macrophomina,
	Phomopsis, Phytophthora)</i></li>
	<li>Equilíbrio ambiental</li>
	<li>Adição de Biomassa de Raiz</li>
	<li>Duração de palhada após dessecação (tempo de controle contra erosão)</li>
</ul>
RENTABILIDADE
<ul>
	<li>Aumento da produtividade na safra seguinte</li>
	<li>Custos menores de manejo</li>
	<li>Resistência da cultura posterior a estiagens</li>
	<li>Conservação do solo</li>
	<li>Utilização como forrageira</li>
	<li>Tendência mundial de manejo dos solos para altas produtividades</li>
	<li>Praticidade de implantação</li>
</ul>


<p><span class="texto-verde">Recomendações de Plantio</span></p>
[Imagem recomendações]
</div>