<% @page_title = "Notícias - Sematter Sementes" %>
<% @content_title = "Notícias" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Notícias</li>
</ol>
Notícias
</div>