<% @page_title = "Onde Comprar - Sematter Sementes" %>
<% @content_title = "Onde Comprar" %>

<div class="container">
<ol class="breadcrumb">
  <li><%= link_to 'Inical', root_path %></li>
  <li class="active">Onde comprar</li>
</ol>
Revendas
</div>