
.parte1 {
	//background-color: #FFF9DF;
	color: #333;
	background: image-url('adubacao-arvores.png');
	//background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.parte2 {
	background-color: #7CC144;
	color: #fff;
}
.parte3 {
	background-color: #38932C;
	color: #fff;
}
.parte4 {
	background-color: #1C6611;
	color: #fff;
}
.parte5 {
	background-color: #154D0D;
	color: #fff;
}

.paragrafo-dizeres {
	padding: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
