.culturas-lista > ul {
	display: inline;
}
.culturas-lista > ul > li {
    display: inline;
    list-style: none;
    margin: 0;
    border: 1px solid #FF0000;
   /* background-color: #ff0000;*/
}

.cultura{
	width: 120px;
	height: 200px;
	border: 1px solid #dd0000;

}

