.culturas-lista{
	text-align: center;
}

.cultura{
	width: 120px;
	height: 150px;
	float: left;
	background-color: #22463c;
	margin-right: 2px;
}
.cultura-titulo{
	text-align: center;
	font-weight: bold;
	background-color: #bccf00;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 2px solid #ccc;
}

