/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Example using 'Cerulean' bootswatch

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cosmo/variables";

// Then bootstrap itself
@import "bootstrap";

@import "devise_bootstrap_views";

@import "bootstrap-datetimepicker";

// Bootstrap body padding for fixed navbar
//body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";


@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

@import "lightbox-bootstrap";

/* cores #A6C10B #004438 */


html,
body {
    height: 100%;
    //background-color: #f2f2f2;
    background-color: #fff;
}

a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #666;
    text-decoration: underline;
}

.faixinha-verde{
  height: 6px;
  background-color: #004438;
  -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
}

.faixinha-verde-meio{
  height: 6px;
  background-color:#A6C10B;
}
.badge{
  background-color: #A6C10B;
}

footer {
    /*height: 520px;*/
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    /*border-top: 4px solid #A6C10B;*/
}

.logo-footer{
	/*
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}
.rodape {
	padding-top: 40px;
	color: #666;
  /*background-image: url('fundo-quad.png');*/
  /*border-bottom: 20px solid #313131;*/
  /*color: #fff;*/
  background: rgba(0, 0, 0, 0) image-url("faixa-shadow.png") no-repeat scroll center bottom;
}

.texto-verde{
	color: #A7C20B;
	font-weight: bold;
	font-size: 17px;
}
.bt-saiba-mais:hover{
	// opacity: 0.7;
	filter: contrast(1.1);
}

#flash-message-wrapper {
    position: fixed;
    width: 100%;
}
/* NAVBAR */

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: #A7C20B;
	border: 0;
}

.navbar-default .navbar-nav > .active{
   color: #000;
   background: #004438;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background: #004438;
 }
 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
   	background: #A2B500;
}

.nav > li > a {
  text-transform: bold;
  font-weight: bold;
  /*text-shadow: 0 1px 0 #666;*/
}
.nav > li > a:hover {
    color: #FF0000;
   background: #004438;
}

/* NAVBAR END */

/* TITULOS */
.cabecalho-pagina {
    background: #004438 image-url("bg-paisagem.jpg") no-repeat scroll center top / cover ;
    height: 110px;
    line-height: 110px;
    margin-bottom: 20px;
    /*background-attachment: fixed;*/
}

.titulo-bc h2 {
    color: #fff;
    font-size: 2.3em !important;
    font-weight: bold;
    line-height: 110px;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}


.auto-close-alert {
	z-index: 999;
}

.logo-principal{
	margin-top: 25px;
}


/* mail_form gem */

.hidden { display: none; }