#menu-lg .cabecalho .box-logo {
    float: left;
    min-width: 240px;
    height: 160px;
    line-height: 160px;
    padding-left: 0px !important;
}

#menu-lg .cabecalho .box-logo img {
    max-width: 240px;
    max-height: 70px
}


#menu-lg {
    height: 160px;
    //-webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
    //-moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
    //box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.3);
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    ///background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 100%);
    ////background: -webkit-linear-gradient(top, #fff 0%, #f1f1f1 100%);
    ////background: linear-gradient(to bottom, #fff 0%, #f1f1f1 100%);
    //background: image-url('bg-cabecalho.jpg') no-repeat center top;
}

#menu-lg .cabecalho .box-menu {
    float: right;
    /*width: 821px;*/
    //height: 69px;
    margin-top: 60px;  
}

#menu-lg .cabecalho .box-menu > ul > li {
    float: left;
    border: 1px solid #f7f7f7;
}

#menu-lg .cabecalho .box-menu > ul > li > a {
    color: #8a8a8a;
    font-weight: 600;
    text-transform: uppercase;
    //border-bottom: 3px solid transparent;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
    text-decoration: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s
}

#menu-lg .cabecalho .box-menu > ul > li > a:hover {
    background: #A6C10B;
    color: #fff;
    //border-bottom: 3px solid #004438;
}


#menu-lg .cabecalho .box-menu > ul > li.open > a {
    background: #006f98;
}

#menu-lg .cabecalho .box-menu > ul > li .dropdown-menu {
    border-radius: 0;
    margin-top: 0;
    border: 0px;
    background: #A6C10B;
    min-width: 205px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s
}

#menu-lg .cabecalho .box-menu > ul > li .dropdown-menu li a {
    padding: 12px 16px;
    font-size: 0.9em;
    color: #fff
}

#menu-lg .cabecalho .box-menu > ul > li .dropdown-menu li a:hover {
    //background: #A2B500
}

#menu-lg .cabecalho .box-menu > ul > li .dropdown-menu li a i {
    margin-right: 5px
}
#menu-lg .cabecalho .box-menu > ul > li .dropdown-menu li.active a  {
    background: #004438;
}

#menu-lg .cabecalho .box-menu > ul > li.active > a,
#menu-lg .cabecalho .box-menu > ul > li:hover > a {
    background: #A6C10B;
    color: #fff;
    //border-bottom: 3px solid #004438
}

#menu-lg .cabecalho .box-menu > ul > li:hover .dropdown-menu {
    display: block
}

#menu-xs .navbar-collapse > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
}