// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prod-raix {
	height: 150px;
	background: image-url('placa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #22463c;
	background-position: bottom center;
	//border-bottom: 5px solid #bccf00;
	//padding-top: 60px;
}
.faixa-product-titulo{
	height: 5px;
	background-color: #bccf00;
}
.produtos-cultivos{
	color:#666;
	text-align: right;
	//border: 1px solid #FF0000;
	float: right;
}