// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// INDEX

/*

.box-produto .no-hover .box-img img {
    max-width: 60%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}


/***********************************************/
.link-produto, .link-produto:hover{
	//border: 1px solid #000;
	text-decoration: none;
}
.box-produto {
	//height:200px;
	//width: 100%;
	//border: 1px solid #FF0000;
	overflow: hidden;
	position: relative;
}

.box-produto:hover {
 	.no-hover{
		opacity: 0;
	}
	.hover{
		opacity: 1;
	}
}

.box-produto .no-hover {
	//z-index:999;
	//overflow: hidden;
	opacity: 1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    //height: 100%;
    //width: 100%;
    position: relative;
    text-align: center;

	.no-hover-head{
		height: 45px;
		//background-color: #22463c;
	}

	.no-hover-body{
		//height: 100px;
		//background-color: #CCCCCC;
	}

	.no-hover-footer{
		height: 100px;
		//background-color: #0000ff;
		padding-top: 10px;
		color: #004438;
    	font-weight: 600;
    	font-size: 30px;
	}

	.sombra {
    display: block;
    height: 15px;
    background: image-url('sombra.png') no-repeat center;
    margin-bottom: 20px
	}
}

.box-produto .hover {
	//z-index: 1;
	overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    position: absolute;
    top: 0;
    //height: 100%;
    //width: 100%;
    text-align: center;

	.hover-head{
		border-top: 4px solid #A7C20B;
		height: 45px;
		background-color: #004438;
		color: #fff;
    	font-weight: 600;
    	font-size: 30px;
	}

	.hover-body{
		//height: 100px;
		//background-color: #FF3333;
	}

	.hover-footer{
		height: 100px;
		background-color: #004438;
		color: #fff;
		padding: 10px 5px 5px 5px;
	}
}

.prod-raix {
	height: 150px;
	background: image-url('placa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #004438;
	background-position: bottom center;
	border-bottom: 5px solid #A7C20B;
	//padding-top: 60px;
}

.rx-image{
	//height:10px;
	margin-top:0;
}
.product-titulo > h2 {
	color: #2D5B4D;
	font-weight:bold;
}

.stars{
	width: 110px;
	height: 20px;
	overflow: hidden;
	//border: 1px solid #FF0000;
}