// Place all the styles related to the resales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.svg-container{
		height:100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.svg-container{
		height:360px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.svg-container{
		height:460px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.svg-container{
		height:460px;
	}
}


.resales-faixa{
	background-color: #e4e4e4;
	background-image: image-url('resales-bg.jpg');
	background-repeat: repeat-x;
}