<div class="cabecalho-pagina">
	<div class="container">
		<div class="titulo-bc" style="width: 70%;float: left;">
			<h2><%= @content_title || "Raix - A raiz da produtividade" %></h2>
		</div>
	</div>
</div>