<div class="cabecalho-pagina">
	<div class="container">
	<%= scroll_reveal animation: 'enter left, move 50px, after 0.2s' do %>
		<div class="titulo-bc" style="width: 70%;float: left;">
			<h2><%= @content_title || "Sematter" %></h2>
		</div>
	<% end %>
	</div>
</div>
